<mat-card  class="card" >
  <mat-card-header>
    <img mat-card-avatar src="assets/icons/database.png" alt="database">
    <div fxLayout="row"
        fxLayoutGap="20px"
    >
    <div fxFlex>
      <mat-card-title [matTooltip]="activeResource.description" >{{activeResource.name}}</mat-card-title>
      <mat-card-subtitle>Version: {{activeResource.version}}</mat-card-subtitle>
    </div>
    <div fxFlex >
      <mat-form-field>
          <mat-select [(value)]="activeResource.id" >
            <mat-option 
              *ngFor="let resource of resources | async" 
              [value]="resource.id"
              (onSelectionChange)="setActiveResource($event, resource)"
            >
              {{resource.name}}
            </mat-option>
          </mat-select>
    </mat-form-field>
  </div>
  </div>
  </mat-card-header>
  <mat-card-content>
    <p><b>Url: </b> <a target="_blank"  href="{{activeResource.url}}">{{activeResource.url}}</a></p>
    <!-- <p><b>Description: </b>{{activeResource.description}}</p> -->
    <div *ngIf="activeResource.cellular_genomes_version == activeResource.viral_genomes_version">
        <p><b>Genomes: </b>{{activeResource.cellular_genomes_version}}</p>
    </div>
    

    <div *ngIf="activeResource.cellular_genomes_version != activeResource.viral_genomes_version">
        <p><b>Cellular Genomes: </b>{{activeResource.cellular_genomes_version}}</p>
        <p><b>Viral Genomes: </b>{{activeResource.viral_genomes_version}}</p>
    </div>

  </mat-card-content>
</mat-card>


