<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar src="assets/icons/database.png" alt="database">
    <mat-card-title [matTooltip]="activeResource.description">Select Resource</mat-card-title>
    <mat-card-subtitle>Active Resource: {{activeResource.name}} (Version: {{activeResource.version}})
    </mat-card-subtitle>
  </mat-card-header>

  <mat-form-field>
    <mat-select [(value)]="activeResource.id">
      <mat-option *ngFor="let resource of resources | async" [value]="resource.id"
        (onSelectionChange)="setActiveResource($event, resource)">
        {{resource.name}}_{{resource.version}}
      </mat-option>
    </mat-select>
  </mat-form-field>



  <mat-card-content>
    <p><b>Url: </b> <a target="_blank" href="{{activeResource.url}}">{{activeResource.url}}</a></p>
    <!-- <p><b>Description: </b>{{activeResource.description}}</p> -->
    <div *ngIf="activeResource.cellular_genomes_version == activeResource.viral_genomes_version">
      <p><b>Genomes: </b>{{activeResource.cellular_genomes_version}}</p>
    </div>


    <div *ngIf="activeResource.cellular_genomes_version != activeResource.viral_genomes_version">
      <p><b>Cellular Genomes: </b>{{activeResource.cellular_genomes_version}}</p>
      <p><b>Viral Genomes: </b>{{activeResource.viral_genomes_version}}</p>
    </div>

  </mat-card-content>
</mat-card>