<mat-card fxLayoutAlign="center" fxLayout="column" >
  
  <div fxLayoutAlign="start" fxLayoutGap="10px" fxLayout="row"  fxLayout.lt-md="column">

<!--     <button mat-raised-button color="primary" (click)="clearHighlight()">
        Clear HighLight
    </button> -->


    <mat-select [disabled]="densityCtrl.value" [(ngModel)]="densityBins" style="width:50px;">
      <mat-option 
        *ngFor="let option of densityOptions" 
        [value]="option"
      >
        {{option}}
      </mat-option>
    </mat-select>

    <mat-slide-toggle [formControl]="densityCtrl">
      Show density ({{densityBins}})
   </mat-slide-toggle>


    <mat-slide-toggle [formControl]="dynamicAxesCtrl"  >
      Dynamic axes: {{dynamicAxes?'enabled':'disabled'}}
    </mat-slide-toggle>

    <mat-slide-toggle [formControl]="plotTypeCtrl" >
        {{is2Dplot?'Return to 3D':'2D scatter'}}
    </mat-slide-toggle>

    <mat-slide-toggle [formControl]="tooltipCtrl" >
      Tooltip: {{tooltipCtrl.value?'enabled':'disabled'}}
    </mat-slide-toggle>

  </div>

  <mat-spinner [diameter]="30" color='primary' *ngIf="!ready"></mat-spinner>

  <div #chart></div>

</mat-card>

