
<div class="container"
  fxLayout.gt-md="row"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">

  <div fxFlex="60%" fxFlex.gt-md="70%" fxLayout="column"  >
      <div fxFlex fxLayoutAlign="center">
          <app-cube ></app-cube>
      </div>
      <div fxFlex>
          <app-axes-selection></app-axes-selection>
      </div>
    
  </div>


  <div fxFlex="40%" fxFlex.gt-md="30%" fxLayoutGap="10px" fxLayout="column">


      <div fxLayout="column" fxLayoutGap="10px">
          <app-resource></app-resource>
          <app-protein-domain-info fxFlex="50%"></app-protein-domain-info>
      </div>



      <div fxLayout="column" fxLayoutGap="10px">
          <app-cube-manipulation></app-cube-manipulation>
          <app-protein-domain-table></app-protein-domain-table>
      </div>


  </div>

</div>



