<mat-toolbar color="primary">
  <mat-toolbar-row>
      <img mat-card-avatar src="assets/icons/cube.png" alt="image">
      <span routerLink="" style="cursor:pointer">PhyloCube</span>
      <div fxFlex="grow" class="spacer" ></div>
<!--       <button fxHide.gt-xs="true" mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon>more_vert</mat-icon>
      </button> -->

      <div>
          <button  mat-menu-item routerLink="" class="btn-style" *ngIf="(router.url === '/about')">
            <mat-icon>arrow_back</mat-icon>
            Back
          </button>
          <button mat-menu-item routerLink="about" class="btn-style" *ngIf="(router.url !== '/about')">
            <mat-icon>info</mat-icon>
            About
          </button>
      </div>


</mat-toolbar-row>

</mat-toolbar>


<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="">Home</button>
  <button mat-menu-item routerLink="about">About</button>
</mat-menu>