<mat-toolbar color="primary">
  <mat-toolbar-row>
      <img mat-card-avatar src="assets/icons/cube.png" alt="image">
      <span>PhyloCube</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
</mat-toolbar-row>

</mat-toolbar>


<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="">Home</button>
  <button mat-menu-item routerLink="about">About</button>
</mat-menu>