<div  class="example-container mat-elevation-z8">
  
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="acc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Acc </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.acc}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="archaea">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Arch </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.archaea}} / {{element.archaea_genomes}}  </mat-cell>
      </ng-container>

      
      <ng-container matColumnDef="bacteria">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Bac </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.bacteria}} / {{element.bacteria_genomes}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="eukaryota">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Euk </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.eukaryota}} / {{element.eukaryota_genomes}} </mat-cell>
      </ng-container>
       
      <ng-container matColumnDef="virus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Vir </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.virus}} / {{element.virus_genomes}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;" [ngClass]="{'highlight':selectedRow == row.acc}" (click)="highlight(row)"></mat-row>


    </mat-table>
  </div>
  <div *ngIf="dataSource.data.length == 0"><p>Loading...</p></div>