
.example-header {
  min-height: 56px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-style: none;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.highlight{
  background:#D3D3D3;
}