
<app-loading [style.visibility]="(showLoading)? 'visible' : 'hidden'"></app-loading>

<div 
  fxLayout.gt-md="row"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
  style="margin-top:10px;">


  <!-- left section  -->
  <div fxFlex="grow" fxFlex.gt-md="grow" fxLayout.gt-sm="row" fxLayoutGap="10px" fxLayout="column">
    
        <!-- left sidebar -->
        <div fxFlex="30" fxFlex.gt-md="30" fxLayoutGap="10px"  fxLayout="column" >

          <app-protein-domain-info></app-protein-domain-info>

          <mat-card >
              <b>Search</b>
              <mat-card-content>
                <app-taxonomy-search></app-taxonomy-search>
                <app-uniprot-search></app-uniprot-search>
              </mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
          </mat-card>

          <app-cube-manipulation></app-cube-manipulation>
        
        </div>
        <!-- left sidebar -->



        <!-- cube -->
        <div fxFlex="grow" fxFlex.gt-md="grow" fxLayout="column">
          <app-cube></app-cube>
        </div>
        <!-- cube -->


  </div>
  <!-- left section  -->



  <!-- right section  -->
  <div fxFlex="30" fxFlex.gt-md="30" fxLayoutGap="10px" fxLayout="column" >
      <app-resource></app-resource>
      <app-search-result></app-search-result>
      <app-protein-domain-table></app-protein-domain-table>
  </div>
  <!-- right section -->

</div>


