<app-loading [style.visibility]="(showLoading)? 'visible' : 'hidden'"></app-loading>

<div 
  class="defaultBackground"
  fxLayout="row"
  fxLayout.lt-lg="column"
  fxLayoutAlign="center"
  fxLayoutGap="5px"
  fxLayoutGap.xs="0"
  style="padding:8px;"
  >


  <!-- left section  -->
  <div fxFlexOrder.lt-md="2" fxFlex="70" fxFlex.gt-md="75" fxLayout.gt-sm="row" fxLayoutGap="5px" fxLayout="column">
    
        <!-- left sidebar -->
        <div fxFlexOrder.lt-md="2" fxFlex="30" fxFlex.lt-lg="35" fxLayoutGap="5px"  fxLayout="column" >
          <app-color-scheme></app-color-scheme>
          <app-cube-manipulation></app-cube-manipulation>
          <app-axes-selection></app-axes-selection>
        
        </div>
        <!-- left sidebar -->

        <div fxFlexOrder.lt-md="1" fxFlex="70" fxFlex.lt-lg="65" fxLayoutGap="5px" fxLayout="column">
          <!-- cube -->
          <app-cube></app-cube>
          <!-- cube -->
          <app-protein-domain-table></app-protein-domain-table>

        </div>
        


  </div>
  <!-- left section  -->



  <!-- right section  -->
  <div fxFlexOrder.lt-md="1" fxFlex="30" fxFlex.gt-md="25" fxLayoutGap="5px" fxLayout="column" >
      <app-resource></app-resource>
      <app-protein-domain-info></app-protein-domain-info>
      <mat-card>
          <mat-card-header>
              <img mat-card-avatar src="assets/icons/search.png" alt="search">
                <mat-card-title>Search</mat-card-title>
                <mat-card-subtitle>Get accessions by taxonomy Id or UniProt Id</mat-card-subtitle>
          </mat-card-header>
          
          <mat-card-content>
            <app-taxonomy-search></app-taxonomy-search>
            <app-uniprot-search></app-uniprot-search>
          </mat-card-content>

      </mat-card>

      <app-search-result></app-search-result>
      
  </div>
  <!-- right section -->

</div>


