<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="assets/icons/selected_object.png" alt="database">
    <mat-card-title>Initial domains: {{activeDataSet.length}}</mat-card-title>
    <mat-card-subtitle>Selected domains:{{pointsOnCube.length}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="padding-bottom:20px;padding-top:20px;" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap="22px">
      <div >{{activeResource.xTitle}} (x)</div>
      <nouislider fxFlex="100%"
                  [config]="sliderConfig"
                  [(ngModel)]="xRange"
                  (mouseup)="updateCube();">
      </nouislider>
    </div>

    <div style="padding-bottom:20px;" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap="22px">
      <div>{{activeResource.yTitle}} (y)</div>
      <nouislider fxFlex="100%"
                  [config]="sliderConfig"
                  [(ngModel)]="yRange"
                  (mouseup)="updateCube();">
      </nouislider>
    </div>

    <div style="padding-bottom:20px;" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap="22px">
      <div>{{activeResource.zTitle}} (z)</div>
      <nouislider fxFlex="100%"
                  [config]="sliderConfig"
                  [(ngModel)]="zRange"
                  (mouseup)="updateCube();">
      </nouislider>
      
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button  mat-raised-button color="primary" (click)="seToDefault();">Default</button>
  </mat-card-actions>
</mat-card>