<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="assets/icons/manipulation.png" alt="database">
    <mat-card-title>Initial domains: {{numberOfPointsInactiveDataSet}}</mat-card-title>
    <mat-card-subtitle>Selected domains:{{numberOfPointsOnCube}}</mat-card-subtitle>
    

  </mat-card-header>
  <mat-card-content>
    <div style="padding:10px" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap="22px">
      <div >{{activeResource.xTitle}} (x)</div>
      <nouislider fxFlex="100%"
                  [config]="sliderConfig"
                  [(ngModel)]="xRange"
                  (mouseup)="updateCube();"
                  (mouseleave)="updateCube();">
      </nouislider>
    </div>

    <div style="padding:10px" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap="22px">
      <div>{{activeResource.yTitle}} (y)</div>
      <nouislider fxFlex="100%"
                  [config]="sliderConfig"
                  [(ngModel)]="yRange"
                  (mouseup)="updateCube();"
                  (mouseleave)="updateCube();">
      </nouislider>
    </div>

    <div style="padding:10px" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap="22px">
      <div>{{activeResource.zTitle}} (z)</div>
      <nouislider fxFlex="100%"
                  [config]="sliderConfig"
                  [(ngModel)]="zRange"
                  (mouseup)="updateCube();"
                  (mouseleave)="updateCube();">
      </nouislider>
      
    </div>
    <button style="margin-top:20px;"  mat-raised-button color="primary" (click)="seToDefault();">Reset sliders</button>

  </mat-card-content>
</mat-card>