<mat-card style="min-height:80px;">
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="grow">
      <mat-card-header>
        <img mat-card-avatar src="assets/icons/selected_point.png" alt="database">
        <mat-card-title *ngIf='(!selectedPoint)'>Click on a point on the cube! </mat-card-title>
        <mat-card-title *ngIf='(selectedPoint && selectedPoint.acc)'><b>Acc:</b> {{selectedPoint.acc}} </mat-card-title>
        <mat-card-subtitle *ngIf='(selectedPoint)'><b>{{selectedPoint.description}}</b></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf='(selectedPoint)'>
              <b>{{activeResource.xTitle}}: </b>{{selectedPoint.x}} ({{((selectedPoint.x/activeResource.xMax)*100).toFixed(1)}}%)<br>
              <b>{{activeResource.yTitle}}: </b>{{selectedPoint.y}} ({{((selectedPoint.y/activeResource.yMax)*100).toFixed(1)}}%)<br>
              <div *ngIf="!hideZ" ><b >{{activeResource.zTitle}}: </b>{{selectedPoint.z}} ({{((selectedPoint.z/activeResource.zMax)*100).toFixed(1)}}%)<br></div>
              <b>{{activeResource.vTitle}}: </b>{{selectedPoint.v}} ({{((selectedPoint.v/activeResource.vMax)*100).toFixed(1)}}%)
      </mat-card-content>
  </div>
  <div fxFlex="nogrow">
    <div *ngIf='(selectedPoint)' fxLayout="column" fxLayoutGap="10px">
        <button  mat-raised-button color="primary" (click)="openNewTab($event, selectedPoint)">
          more info
        </button>

        <button  mat-raised-button color="primary" (click)="highlightSelectedPoint()">
            Highlight
        </button>
    </div>
  </div>


  </div>
</mat-card>